{{template "header.html" .}}
{{template "navbar.html" .}}

    <!-- Main Content -->
    <div class="container mt-5">
        <h1>About the Lexington Community Band</h1>
        <div class="row">
            <div class="col-md-8">
                <p>The Lexington Community Band has been a vibrant part of the local arts scene for over 15 years, bringing joy and music to our community. We are a diverse group of musicians, from seasoned veterans to enthusiastic amateurs, all united by our love for music and performance.</p>
                <p>Our repertoire spans a wide range of genres, including classical, jazz, pop, and traditional band music. We perform regularly at local events, concerts, and festivals, always striving to engage and entertain our audiences. Join us for our next performance and experience the magic of live band music!</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="assets/john_immerso.avif" class="img-fluid rounded-circle" alt="Lexington Community Band">
                <h3>John J. Immerso</h3>
                <p>Conductor and Founder</p>
                <p>John J. Immerso founded the Lexington Community Band in 2014. His music career spans over 35 years in music education and he has performed under renowned conductors like Dr. Frederick Fennell and Mr. John William.</p>
            </div>
        </div>
    </div>

{{template "footer.html" .}}
